@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{ font-family: "Open Sans", "Sans-serif" }

h2 {
color: white;
font-size: 45px;
}

h1 {
    font-size: 60px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-weight: 1200;
}

p {
    color: white;
    font-weight: 1000;
    font-size: 35px;
}

